		XXX modelFromDb = XXX.getByIdAndOwner(id, user.getId());

		if (modelFromDb == null) {
			throw new NotFoundException();
		}
		
		
		modelFromDb.updateWith(model);

		modelFromDb.save();
		return modelFromDb;
