//Auto generated Code Mongo-Update
{{vendorExtensions.x-controller-model-class}} {{vendorExtensions.x-controller-model-name}}FromDb = datastore.getByIdAndOwner(new ObjectId(id), benutzer.getId());
if ({{vendorExtensions.x-controller-model-name}}FromDb == null) {
	throw new NotFoundException();
}
{{vendorExtensions.x-controller-model-name}}FromDb.updateWith({{vendorExtensions.x-controller-model-name}});
datastore.save({{vendorExtensions.x-controller-model-name}}FromDb);
		
return {{vendorExtensions.x-controller-model-name}}FromDb;