//Auto generated Code Mongo-Add
{{vendorExtensions.x-controller-model-name}}.setOwnerId(benutzer.getId());
datastore.save({{vendorExtensions.x-controller-model-name}});
return {{vendorExtensions.x-controller-model-name}};
