//Auto generated Code Mongo-Find
List<{{vendorExtensions.x-controller-model-class}}> {{vendorExtensions.x-controller-model-name}}s = datastore.find(findrequest, user.getId());
{{vendorExtensions.x-controller-model-class}}s result = new {{vendorExtensions.x-controller-model-class}}s();
result.set{{vendorExtensions.x-controller-model-class}}s({{vendorExtensions.x-controller-model-name}}s);
return result;