//Auto generated Code Mongo-Add
		try {
			String jsonInString = mapper.writeValueAsString({{#allParams}}{{paramName}}{{/allParams}});
			Document document = Document.parse(jsonInString);
			MongoDB.get().getCollection("{{vendorExtensions.x-mongo-collection}}").insertOne(document);
		 } catch (Exception e) {
			 e.printStackTrace();
		 }
