//Auto generated Code Mongo-Duplicate
{{vendorExtensions.x-controller-model-class}} {{vendorExtensions.x-controller-model-name}} = datastore.getByIdAndOwner(new ObjectId(id), benutzer.getId());
{{vendorExtensions.x-controller-model-name}}.resetId(); //Reset ID, to save as new model 

datastore.save({{vendorExtensions.x-controller-model-name}});
return {{vendorExtensions.x-controller-model-name}};