//Auto generated Code Mongo-Find
List<{{vendorExtensions.x-controller-model-class}}> {{vendorExtensions.x-controller-model-name}}s = datastore.find(findrequest, benutzer.getId());
{{vendorExtensions.x-controller-model-class}}Sammlung result = new {{vendorExtensions.x-controller-model-class}}Sammlung();
result.set{{vendorExtensions.x-controller-model-class}}s({{vendorExtensions.x-controller-model-name}}s);
return result;