final Query<XXX> query = datastore.createQuery(XXX.class);
query.and(query.criteria("_id").equal(xxxId), query.criteria("_user").equal(user));

XXX deletedModel = datastore.findAndDelete(query);
return deletedModel;
