package {{package}};

{{#imports}}import {{import}};
{{/imports}}
import apimodels.*;
import play.mvc.Http;
import java.util.List;
import java.util.ArrayList;
import java.util.HashMap;
import java.io.FileInputStream;
{{#useBeanValidation}}
import javax.validation.constraints.*;
{{/useBeanValidation}}
import com.mongodb.client.MongoCollection;
import javax.inject.Inject;
import com.fasterxml.jackson.databind.ObjectMapper;
import services.MongoDB;
import org.bson.Document;
import org.mongodb.morphia.Datastore;
{{>generatedAnnotation}}
{{#operations}}
public class {{classname}}ControllerImp {{#useInterfaces}}implements {{classname}}ControllerImpInterface{{/useInterfaces}} {

final Datastore datastore = new MongoDB().getDatastore();

{{#operation}}
    {{#useInterfaces}}@Override{{/useInterfaces}}
    public {{>returnTypes}} {{operationId}}({{#allParams}}{{>pathParams}}{{>queryParams}}{{>bodyParams}}{{>formParams}}{{>headerParams}}{{#hasMore}}, {{/hasMore}}{{/allParams}}, User user) {{#handleExceptions}}throws Exception{{/handleExceptions}} {

    	{{#vendorExtensions.x-mongo-add}}{{> mongodb_add}}{{/vendorExtensions.x-mongo-add}}{{#vendorExtensions.x-mongo-update}}{{> mongodb_update}}{{/vendorExtensions.x-mongo-update}}{{#vendorExtensions.x-mongo-find}}{{> mongodb_find}}{{/vendorExtensions.x-mongo-find}}{{#vendorExtensions.x-mongo-delete}}{{> mongodb_delete}}{{/vendorExtensions.x-mongo-delete}}
        
    }

{{/operation}}
}
{{/operations}}
