package {{package}}.interfaces;

import apimodels.responses.*;
import apimodels.*;
import apimodels.parameters.Suchabfrage;
{{#imports}}import {{import}};
{{/imports}}

import play.mvc.Http;
import java.util.List;
import java.util.ArrayList;
import java.util.HashMap;

{{#useBeanValidation}}
import javax.validation.constraints.*;
{{/useBeanValidation}}

{{#operations}}
public interface {{classname}}ControllerImpInterface {
{{#operation}}
    {{>returnTypes}} {{operationId}}({{#allParams}}{{>pathParams}}{{>queryParams}}{{>bodyParams}}{{>formParams}}{{>headerParams}}{{#hasMore}}, {{/hasMore}}{{/allParams}}, Benutzer benutzer) {{#handleExceptions}}throws Exception{{/handleExceptions}};

{{/operation}}
}
{{/operations}}