# Routes for Q-Tax

{{#apiInfo}}
{{#apis}}

#Functions for {{{baseName}}} API
{{#operations}}
{{#operation}}
{{httpMethod}}     {{{path}}}                     controllers.{{classname}}Controller.{{operationId}}({{#pathParams}}{{paramName}}: {{{dataType}}}{{#hasMore}}, {{/hasMore}}{{/pathParams}})
{{/operation}}
{{/operations}}
{{/apis}}
{{/apiInfo}}

